* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: "Roboto", sans-serif;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.darkModeToggle {
  cursor: pointer;
}

#boxes * {
  border: 1px solid transparent;
}

#boxes {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "A B"
    "A C";
  gap: 32px;
  place-content: center;
  height: 100vh;
}

#main-player {
  grid-area: A;
  padding: 50px 38px;
}

#main-player .wrapper {
  width: 190px;
}

#main-player img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

#main-player .info {
  padding-top: 28px;
}

#sidebar-player {
  grid-area: B;
  height: fit-content;
}

#sidebar-player .controls {
  display: flex;
  justify-content: space-around;
}

#mini-player {
  grid-area: C;
}

#mini-player .controls {
  display: flex;
  justify-content: space-around;
}

.player {

  padding: 28px;
  border-radius: 20px;
}

.player img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  color: #e1e1e6;
}

.info p {
  opacity: 0.68;
  font-size: 19px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.player h1 {
  font-size: 27px;
  color: #e1e1e6;
  padding-bottom: 7px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.track {
  padding-top: 28px;
  position: relative;
}

.track::before {
  content: "";
  height: 6px;
  width: 100%;
  display: block;
  background: #d9d9d9;
  opacity: 0.3;
  border-radius: 10px;
  position: absolute;
}

.track::after {
  content: "";
  height: 6px;
  width: 85%;
  display: block;
  background: #d9d9d9;
  border-radius: 10px;
}

.time {
  opacity: 0.7;
  font-size: 14px;
  color: gainsboro;

  display: flex;
  justify-content: space-between;
  padding-top: 9.6px;
}

@media (max-width: 670px) {
  #boxes {
    display: flex;
    flex-direction: column;

    max-width: 270px;
    margin: auto;

    height: auto;
    padding-block: 60px;
  }
}

audio {
  display: none;
}